<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <span [translate]="'SMS gateway'"></span>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col>

        <div *ngIf="isLoading">
          <loading [loadingMessage]="loadingMessage" [loadingSize]="'large'"></loading>
        </div>
        <div *ngIf="!isLoading">
          <div class="item-card">
            Logs for all actions on background process
            <br> {{ smsLogs$ |async |json }}
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>