<div class="sms-to-table-view">
  <!-- <ion-card>
    
  </ion-card> -->
  <div *ngFor="let dataElement of dataElements;trackBy: trackByFn">
    <table class="table table-bordered" width="100%" *ngIf="dataElement && seletectDataElements.indexOf(dataElement.id) > -1">
      <thead>
        <tr>
          <th [attr.colspan]="dataElement.categoryCombo.categoryOptionCombos.length">
            {{dataElement.name}}
          </th>
        </tr>
        <tr *ngIf="dataElement.categoryCombo.name !='default'">
          <th *ngFor="let categoryOptionCombo of dataElement.categoryCombo.categoryOptionCombos" class="inputLabel">
            {{ categoryOptionCombo.name }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td *ngFor="let categoryOptionCombo of dataElement.categoryCombo.categoryOptionCombos">
            {{ (dataValueMapper[dataElement.id + "-" + categoryOptionCombo.id])? dataValueMapper[dataElement.id + "-" + categoryOptionCombo.id]
            : ' ' }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>