<div class="animated fadeIn" class="logs-container" (click)="toggleLogsDetails()">
  <div class="log-list-item-border log-list-item" [ngClass]="(isSelected)? 'log-list-item-selected': ''">
    <img class="side-menu-icon" [src]="icons[smsLog.type]" />&nbsp;&nbsp;
    <span>{{ smsLog.time + " : " + smsLog.logMessage }}</span>
    <div *ngIf="isSelected" class="item-card">
      <span>
        <b>
          {{ translationMapper['Sender'] }}
        </b>: {{ smsLog.message.address }} </span>
      <br>
      <span>
        <b>
          {{ translationMapper['SMS Content'] }}
        </b>: {{ smsLog.message.body }} </span>
    </div>
  </div>
</div>